.panel > .panel-heading {
    background-image: none;
    background-color: green;
    color: white;
}

.page-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
